* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #3A3A3A;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #ffffff;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #3A3A3A;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #3A3A3A;
    font-weight: bold;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 2px solid #E6C11F;
    border-radius: 5px;
    outline: none;
}

.input-group input:focus,
.input-group select:focus {
    border-color: #3A3A3A;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #E6C11F;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #3A3A3A;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #d1ae1c;
}

.footer-text {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #777;
}

.back-link {
    display: block;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    background-color: #3A3A3A;
    color: #E6C11F;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}

/* WRAPPER LOGIN */
.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* JUDUL BRAND */
.brand-title {
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: bold;
    color: #E6C11F; /* kuning */
    letter-spacing: 1px;
}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand-title {
    font-size: 28px;
    font-weight: bold;
    color: #E6C11F;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.error-msg {
    background-color: #ffe6e6;
    color: #c62828;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
